/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.nav-dark{
  background-color: #2b244d;
  color: #fff;
}

.active {
  background-color: #00ff9b;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
